extends base

block content
  form.edit-profile__form(method="POST", enctype="multipart/form-data")
    label(for="avatar") 프로필 사진
    input#avatar(type="file", name="avatar", accept="image/*")
    input(
      placeholder="닉네임",
      name="nickname",
      type="text",
      required,
      value=loggedInUser.nickname
    )
    input(
      placeholder="이메일",
      name="email",
      type="email",
      required,
      value=loggedInUser.email
    )
    input(
      placeholder="아이디",
      name="id",
      type="text",
      required,
      value=loggedInUser.id
    )
    input(type="submit", value="프로필 수정")
    if !loggedInUser.socialOnly
      .edit-profile__password
        a(href="change-password") 비밀번호 변경하기 &rarr;
