extends base

block content
  #videoContainer(data-id=video._id)
    .video__img(
      style=`background-image:url(/${video.thumbUrl});background-size:cover;background-position:center;`
    )
    .video_writing_container
      p.video__writing= video.writing
  .video__data
    p.video__title= video.title
    small.video__owner 작성자:&nbsp;
      a(href=`/users/${video.owner._id}`)= video.owner.nickname
    small.video__createdAt= new Date(video.createdAt).toLocaleDateString("ko-kr", { weekday: "long", year: "numeric", month: "long", day: "numeric" })
    if String(video.owner._id) === String(loggedInUser._id)
      br
      a(href=`${video.id}/edit`) 글 수정 &rarr;
      br
      a(href=`${video.id}/delete`) 글 삭제 &rarr;
  if loggedIn
    .video__add-comments
      form#commentForm.video__comment-form
        textarea(cols="30", rows="10", placeholder="댓글 추가...")
        button 댓글
  .video__comments
    ul
      each comment in video.comments.reverse()
        li.video__comment(data-id=comment._id)
          h6.comment_date= new Date(comment.createdAt).toLocaleDateString("ko-kr", { weekday: "long", year: "numeric", month: "long", day: "numeric" })
          h4= comment.nickname
          br
          span #{ comment.text }
          if loggedIn && String(comment.owner._id) === String(loggedInUser._id)
            i.deleteBtn.fas.fa-xmark
block scripts
  script(src="/static/js/videoPlayer.js")
  if loggedIn
    script(src="/static/js/commentSection.js") 
